html,
body {
    margin: 0;
    font-family: poppins, sans-serif;
    position: relative
}
a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none
}
body {
    background: #00eafa;
    background: -moz-linear-gradient(-45deg, rgba(0, 234, 250, 1) 0%, rgba(0, 0, 0, 1) 8%, rgba(0, 0, 0, 1) 16%, rgba(133, 43, 146, 1) 36%, rgba(0, 0, 0, 1) 66%, rgba(0, 234, 250, 1) 86%, rgba(0, 0, 0, 1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(0, 234, 250, 1)), color-stop(8%, rgba(0, 0, 0, 1)), color-stop(16%, rgba(0, 0, 0, 1)), color-stop(36%, rgba(133, 43, 146, 1)), color-stop(66%, rgba(0, 0, 0, 1)), color-stop(86%, rgba(0, 234, 250, 1)), color-stop(100%, rgba(0, 0, 0, 1)));
    background: -webkit-linear-gradient(-45deg, rgba(0, 234, 250, 1) 0%, rgba(0, 0, 0, 1) 8%, rgba(0, 0, 0, 1) 16%, rgba(133, 43, 146, 1) 36%, rgba(0, 0, 0, 1) 66%, rgba(0, 234, 250, 1) 86%, rgba(0, 0, 0, 1) 100%);
    background: -o-linear-gradient(-45deg, rgba(0, 234, 250, 1) 0%, rgba(0, 0, 0, 1) 8%, rgba(0, 0, 0, 1) 16%, rgba(133, 43, 146, 1) 36%, rgba(0, 0, 0, 1) 66%, rgba(0, 234, 250, 1) 86%, rgba(0, 0, 0, 1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(0, 234, 250, 1) 0%, rgba(0, 0, 0, 1) 8%, rgba(0, 0, 0, 1) 16%, rgba(133, 43, 146, 1) 36%, rgba(0, 0, 0, 1) 66%, rgba(0, 234, 250, 1) 86%, rgba(0, 0, 0, 1) 100%);
    background: linear-gradient(135deg, rgba(0, 234, 250, 1) 0%, rgba(0, 0, 0, 1) 8%, rgba(0, 0, 0, 1) 16%, rgba(133, 43, 146, 1) 36%, rgba(0, 0, 0, 1) 66%, rgba(0, 234, 250, 1) 86%, rgba(0, 0, 0, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00eafa', endColorstr='#000000', GradientType=1)
}
body:after {
    content: '';
    background-image: url(https://web.whatsapp.com/img/bg-chat-tile-dark_9f39e76b5a0e039e53afc5d9d4bdd780.png);
    width: 100%;
    height: 100%;
    position: fixed;
    opacity: .1;
    background-repeat: repeat;
    z-index: 0;
    top: 0
}
body:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: #00eafa;
    background: -moz-linear-gradient(-45deg, rgba(0, 234, 250, 0) 0%, rgba(0, 0, 0, 1) 8%, rgba(0, 0, 0, 1) 16%, rgba(133, 43, 146, 0) 36%, rgba(0, 0, 0, 1) 66%, rgba(0, 234, 250, 0) 86%, rgba(0, 0, 0, 1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(0, 234, 250, 0)), color-stop(8%, rgba(0, 0, 0, 1)), color-stop(16%, rgba(0, 0, 0, 1)), color-stop(36%, rgba(133, 43, 146, 0)), color-stop(66%, rgba(0, 0, 0, 1)), color-stop(86%, rgba(0, 234, 250, 0)), color-stop(100%, rgba(0, 0, 0, 1)));
    background: -webkit-linear-gradient(-45deg, rgba(0, 234, 250, 0) 0%, rgba(0, 0, 0, 1) 8%, rgba(0, 0, 0, 1) 16%, rgba(133, 43, 146, 0) 36%, rgba(0, 0, 0, 1) 66%, rgba(0, 234, 250, 0) 86%, rgba(0, 0, 0, 1) 100%);
    background: -o-linear-gradient(-45deg, rgba(0, 234, 250, 0) 0%, rgba(0, 0, 0, 1) 8%, rgba(0, 0, 0, 1) 16%, rgba(133, 43, 146, 0) 36%, rgba(0, 0, 0, 1) 66%, rgba(0, 234, 250, 0) 86%, rgba(0, 0, 0, 1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(0, 234, 250, 0) 0%, rgba(0, 0, 0, 1) 8%, rgba(0, 0, 0, 1) 16%, rgba(133, 43, 146, 0) 36%, rgba(0, 0, 0, 1) 66%, rgba(0, 234, 250, 0) 86%, rgba(0, 0, 0, 1) 100%);
    background: linear-gradient(135deg, rgba(0, 234, 250, 0) 0%, rgba(0, 0, 0, 1) 8%, rgba(0, 0, 0, 1) 16%, rgba(133, 43, 146, 0) 36%, rgba(0, 0, 0, 1) 66%, rgba(0, 234, 250, 0) 86%, rgba(0, 0, 0, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00eafa', endColorstr='#000000', GradientType=1);
    z-index: 1
}
body>section {
    width: 96%;
    height: 100vh;
    z-index: 3;
    position: relative;
    padding: 2%
}
body>section,
.menu_principal>div {
    max-width: 1280px;
    margin: 0 auto
}
.izquierda {
    display: none
}
h1,
h2 {
    color: #fff;
    margin: 0 0 8px
}
h1 {
    font-size: 38px;
    line-height: 1
}
h2 {
    font-size: 17px;
    font-weight: lighter;
    line-height: 1.5
}
.chat {
    background: #0d1418;
    border-radius: 4px
}
.chat>.msjs {
    padding: 16px
}
.cola_mi_msj,
.cola_tu_msj {
    position: absolute;
    top: 0
}
.cola_mi_msj {
    left: -5px;
    color: #262d31
}
.cola_tu_msj {
    right: -5px;
    color: #056162
}
.mi_msj {
    position: relative;
    background: #262d31;
    display: inline-block;
    color: #fff;
    padding: 4px;
    border-radius: 4px;
    font-size: 14px;
    margin-bottom: 8px;
    text-align: left!important
}
.tu_msj>div,
.tu_msj_continua>div {
    position: relative;
    background: #056162;
    display: inline-block;
    color: #fff;
    padding: 4px;
    border-radius: 4px;
    font-size: 14px;
    margin-bottom: 8px
}
.tu_msj .tu {
    text-align: left;
    font-weight: 700;
    color: #00eafa
}
.tu_msj,
.tu_msj_continua {
    text-align: right
}
.tu_sticker {
    margin-bottom: 0;
    width: 100px;
    position: relative;
    z-index: 1
}
.chat .azulejo {
    color: #00eafa;
    position: absolute;
    right: 4px;
    top: 8px
}
.chat .tiempo {
    font-size: 11px;
    color: rgb(255, 255, 255, .45);
    margin-right: 24px
}
.llamado {
    background-color: rgba(255, 255, 255, .1);
    padding: 8px;
    text-align: center;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px
}
.btn {
    background: #4fc3f7;
    padding: 8px;
    border-radius: 4px;
    display: inline-block;
    color: #fff
}
.quien_soy .saludo {
    position: absolute;
    margin-top: 50px
}
.quien_soy>img {
    height: 50%;
    position: absolute;
    bottom: 50px;
    right: 0
}
.rompe_hielo,
.encuentrame {
    height: auto;
    margin-top: 250px
}
.rompe_hielo {
    text-align: right
}
.rompe_hielo .chat,
.encuentrame .chat {
    display: inline-block;
    text-align: left
}
.lo_que_hago_1 {
    margin-top: 250px;
    height: auto
}
.galeria>div>div,
.galeria .image {
    background: #262d31;
    border-radius: 4px;
    padding: 8px;
    text-align: center;
    margin-bottom: 8px
}
.galeria img {
    width: 100%;
    border-radius: 4px
}
.galeria .msj {
    color: #fff;
    text-align: left!important
}
.galeria .titulo {
    font-weight: 700
}
.lo_que_hago_2,
.beneficios {
    margin-top: 250px;
    height: auto
}
.lo_que_hago_2 .contenedor>div {
    background: #262d31;
    border-radius: 4px;
    color: #fff;
    padding: 16px;
    margin-bottom: 16px
}
.lo_que_hago_2 .titulo {
    font-weight: 700
}
.lo_que_hago_2 .icono {
    display: inline-block;
    background: #fff;
    background: -moz-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(187, 187, 187, 1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(187, 187, 187, 1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(187, 187, 187, 1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(187, 187, 187, 1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(187, 187, 187, 1) 100%);
    background: radial-gradient(ellipse at center, rgba(255, 255, 255, 1) 0%, rgba(187, 187, 187, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#bbbbbb', GradientType=1);
    width: 20px;
    padding: 4px;
    text-align: center;
    border-radius: 4px;
    margin-right: 16px
}
.n_proyectos {
    margin-top: 16px
}
.n_proyectos div {
    display: inline-block
}
.positivo,
.numero {
    font-weight: 700
}
.positivo {
    vertical-align: 15px;
    font-size: 20px
}
.numero {
    font-size: 50px
}
.positivo,
.texto {
    color: #888
}
.stack {
    margin: 16px 0
}
.stack .visto {
    vertical-align: -4px;
    display: inline-block;
    margin-right: 16px
}
.lo_que_hago_2 .btn {
    display: block;
    text-align: center
}
.flecha_derecha {
    vertical-align: -2px;
    margin-left: 16px
}
.beneficios .mi_msj {
    display: block;
    margin-bottom: 32px
}
.beneficios .llamado {
    border-radius: 4px;
    margin-top: 32px
}
.encuentrame {
    padding-bottom: 100px
}
.menu_principal {
    position: fixed;
    bottom: 0;
    z-index: 4;
    width: 100%
}
.derecha {
    background: #0d1418;
    padding: 8px 2%
}
.mensajera {
    background: #33383b;
    width: 100%;
    border-radius: 100px;
    position: relative
}
input {
    background-color: transparent;
    border: 0;
    padding: 16px;
    width: 90%;
    border: transparent;
    outline: none;
    color: #fff
}
.btn_enviar {
    position: absolute;
    top: 11px;
    right: 18px
}
@media(min-width:600px) and (orientation:portrait) {
    .quien_soy>img {
        height: 70%
    }
    h1 {
        font-size: 48px
    }
    .rompe_hielo .chat,
    .encuentrame .chat {
        width: 50%
    }
    .galeria>div {
        width: 30%;
        display: inline-block;
        vertical-align: top
    }
}
@media(min-width:700px) and (orientation:landscape) {
    .quien_soy>img {
        height: 85%
    }
    h2 {
        font-size: 20px
    }
    .rompe_hielo .chat,
    .encuentrame .chat {
        width: 50%
    }
    .galeria>div {
        width: 30%;
        display: inline-block;
        vertical-align: top
    }
}
@media(min-width:1000px) {
    body {
        background: #00eafa;
        background: -moz-linear-gradient(-45deg, rgba(0, 234, 250, 1) 0%, rgba(0, 0, 0, 1) 15%, rgba(0, 0, 0, 1) 33%, rgba(133, 43, 146, 1) 51%, rgba(0, 0, 0, 1) 66%, rgba(0, 234, 250, 1) 86%, rgba(0, 0, 0, 1) 100%);
        background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(0, 234, 250, 1)), color-stop(15%, rgba(0, 0, 0, 1)), color-stop(33%, rgba(0, 0, 0, 1)), color-stop(51%, rgb(199, 20, 226)), color-stop(66%, rgba(0, 0, 0, 1)), color-stop(86%, rgba(0, 234, 250, 1)), color-stop(100%, rgba(0, 0, 0, 1)));
        background: -webkit-linear-gradient(-45deg, rgba(0, 234, 250, 1) 0%, rgba(0, 0, 0, 1) 15%, rgba(0, 0, 0, 1) 33%, rgba(133, 43, 146, 1) 51%, rgba(0, 0, 0, 1) 66%, rgba(0, 234, 250, 1) 86%, rgba(0, 0, 0, 1) 100%);
        background: -o-linear-gradient(-45deg, rgba(0, 234, 250, 1) 0%, rgba(0, 0, 0, 1) 15%, rgba(0, 0, 0, 1) 33%, rgba(133, 43, 146, 1) 51%, rgba(0, 0, 0, 1) 66%, rgba(0, 234, 250, 1) 86%, rgba(0, 0, 0, 1) 100%);
        background: -ms-linear-gradient(-45deg, rgba(0, 234, 250, 1) 0%, rgba(0, 0, 0, 1) 15%, rgba(0, 0, 0, 1) 33%, rgba(133, 43, 146, 1) 51%, rgba(0, 0, 0, 1) 66%, rgba(0, 234, 250, 1) 86%, rgba(0, 0, 0, 1) 100%);
        background: linear-gradient(135deg, rgba(0, 234, 250, 1) 0%, rgba(0, 0, 0, 1) 15%, rgba(0, 0, 0, 1) 33%, rgba(133, 43, 146, 1) 51%, rgba(0, 0, 0, 1) 66%, rgba(0, 234, 250, 1) 86%, rgba(0, 0, 0, 1) 100%);
        filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00eafa', endColorstr='#000000', GradientType=1)
    }
    body:before {
        background: transparent;
        background: -moz-linear-gradient(-45deg, rgba(0, 234, 250, 0) 0%, rgba(0, 0, 0, 1) 15%, rgba(0, 0, 0, 1) 33%, rgba(133, 43, 146, 0) 51%, rgba(0, 0, 0, 1) 66%, rgba(0, 234, 250, 0) 86%, rgba(0, 0, 0, 1) 100%);
        background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(0, 234, 250, 0)), color-stop(15%, rgba(0, 0, 0, 1)), color-stop(33%, rgba(0, 0, 0, 1)), color-stop(51%, rgba(133, 43, 146, 0)), color-stop(66%, rgba(0, 0, 0, 1)), color-stop(86%, rgba(0, 234, 250, 0)), color-stop(100%, rgba(0, 0, 0, 1)));
        background: -webkit-linear-gradient(-45deg, rgba(0, 234, 250, 0) 0%, rgba(0, 0, 0, 1) 15%, rgba(0, 0, 0, 1) 33%, rgba(133, 43, 146, 0) 51%, rgba(0, 0, 0, 1) 66%, rgba(0, 234, 250, 0) 86%, rgba(0, 0, 0, 1) 100%);
        background: -o-linear-gradient(-45deg, rgba(0, 234, 250, 0) 0%, rgba(0, 0, 0, 1) 15%, rgba(0, 0, 0, 1) 33%, rgba(133, 43, 146, 0) 51%, rgba(0, 0, 0, 1) 66%, rgba(0, 234, 250, 0) 86%, rgba(0, 0, 0, 1) 100%);
        background: -ms-linear-gradient(-45deg, rgba(0, 234, 250, 0) 0%, rgba(0, 0, 0, 1) 15%, rgba(0, 0, 0, 1) 33%, rgba(133, 43, 146, 0) 51%, rgba(0, 0, 0, 1) 66%, rgba(0, 234, 250, 0) 86%, rgba(0, 0, 0, 1) 100%);
        background: linear-gradient(135deg, rgba(0, 234, 250, 0) 0%, rgba(0, 0, 0, 1) 15%, rgba(0, 0, 0, 1) 33%, rgba(133, 43, 146, 0) 51%, rgba(0, 0, 0, 1) 66%, rgba(0, 234, 250, 0) 86%, rgba(0, 0, 0, 1) 100%);
        filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00eafa', endColorstr='#000000', GradientType=1)
    }
    .menu_principal>div {
        overflow: hidden;
        border-radius: 4px;
        text-align: center;
        display: flex;
        justify-content: center
    }
    .quien_soy .saludo {
        margin-top: 100px
    }
    h1 {
        font-size: 68px;
        margin-top: 16px
    }
    h2 {
        font-size: 26px;
        max-width: 800px;
        margin: 0 auto
    }
    .izquierda {
        background: rgba(200, 200, 200, .1);
        vertical-align: bottom;
        text-align: left;
        backdrop-filter: blur(30px);
        border-top-left-radius: 4px
    }
    .derecha {
        border-top-right-radius: 4px
    }
    .izquierda,
    .derecha {
        display: inline-block;
        padding: 16px 2%;
        width: 50%
    }
    .contacto {
        background: rgba(0, 0, 0, .5);
        border-radius: 100px;
        display: inline-block;
        padding: 8px;
        font-size: 14px;
        color: #fff;
        font-weight: 700
    }
    .contacto .icono {
        display: inline-block;
        border-radius: 100px;
        padding: 5px 6px;
        margin-right: 8px;
        background: #fff;
        background: -moz-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(187, 187, 187, 1) 100%);
        background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(187, 187, 187, 1)));
        background: -webkit-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(187, 187, 187, 1) 100%);
        background: -o-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(187, 187, 187, 1) 100%);
        background: -ms-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(187, 187, 187, 1) 100%);
        background: radial-gradient(ellipse at center, rgba(255, 255, 255, 1) 0%, rgba(187, 187, 187, 1) 100%);
        filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#bbbbbb', GradientType=1)
    }
    .contenedor h1,
    .contenedor h2 {
        text-align: center
    }
    .quien_soy>img {
        height: 90%
    }
    .beneficios {
        text-align: center
    }
    .beneficios .llamado {
        display: inline-block
    }
    .rompe_hielo .chat,
    .encuentrame .chat {
        width: 30%
    }
    .galeria {
        margin-top: 52px;
        text-align: center
    }
    .lo_que_hago_2 .contenedor {
        text-align: center
    }
    .lo_que_hago_2 .contenedor>div {
        width: 270px;
        display: inline-block;
        vertical-align: middle;
        text-align: left
    }
    .programacion_movil {
        margin-right: -5px;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        position: relative;
        z-index: 0
    }
    .programacion_web {
        -webkit-box-shadow: 0 53px 111px -16px rgba(0, 0, 0, .75);
        -moz-box-shadow: 0 53px 111px -16px rgba(0, 0, 0, .75);
        box-shadow: 0 53px 111px -16px rgba(0, 0, 0, .75);
        position: relative;
        z-index: 1;
        border: 4px solid #00eafa
    }
    .programacion_de_software {
        margin-left: -5;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        position: relative;
        z-index: 0
    }
}